Meta
doc
tmt.Rcheck/
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.sty
*.backup
.Rhistory
.Rapp.history
*_dont_track/
.Rproj.user
*.o
*.so
*.dll
*.csv
/doc/
/Meta/
*.DS_Store
*.JPG
